extends layout

block content
	h1 Virtual Co-worker Examination for Node.JS
	input#num(type='TEXT', size='40', placeholder='Enter a number')
	br
	select#order
		option(value='desc') Descending
		option(value='asc') Ascending
	br
	button#submit(type='submit') Submit