doctype html
html
  head
    title Virtual Co-worker Examination
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script.
      $(document).ready(function(){
      	var random = [];
      	var numbers =$ ("#num").val();
      	var order;

      	$("#order").change(function(e){
      	e.preventDefault();
      	//console.log($(this).val())
      	order = $(this).val()
      	console.log(order)
      	})

      	function generateRan(){
      	var max = $("#num").val();
      	for(var i = 0;i<max ; i++){
      		var temp = Math.floor(Math.random()*max);
      		if(random.indexOf(temp) == -1){
      			random.push(temp);
      		}else{
      			i--;
      		}
      		
      	}
      	
      	}


      	$("#submit").click(function(){
      		generateRan();
      		console.log(random)
      		console.log(numbers);
      		console.log(order)
      		var data = { nums: random, sort: order}
      		$.post("http://localhost:567/sort",data, function(data){
      		if(data)
      		{
      			console.log(data)
      			random = [];
      			$("#num").val(null);
      			$("#order").val(null);
      		}
      		});
      		
      		
      		
      });
      });
  body
    block content
